main div,
main p {
    color: rgb(119, 105, 79);
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

H1,
H2 {
    color: orange;
}



/***************CONTAINER RESPONSIVE ***************/

.container_responsive {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw;
    padding-bottom: 4%;

}

#img2 {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 350px;
}

#img1 {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 350px;
}

#img3 {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 350px;
}

.container_responsive .card {
    position: relative;
    width: 25rem;
    height: 25rem;
    margin: 0.9375rem;
    overflow: hidden;
}

.container_responsive .imgBx,
.container_responsive .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container_responsive .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_responsive .contentBx::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transition-delay: 0.5s;
}

.container_responsive .card:hover .contentBx::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0s;
}

.container_responsive .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_responsive .content {
    position: relative;
    padding: 1.875rem;
    z-index: 1;
    transition: 0.5s;
    transform: translateY(-300px);
    transition-delay: 0s;
}

.container_responsive .card:hover .contentBx .content {
    transform: translateX(0px);
    transition-delay: 0.5s;
}

.container_responsive h3 {
    color: rgb(18, 94, 76);
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container_responsive p {
    color: rgb(18, 94, 76);
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 300;
}

/*************** v2 ****************/

/*****************FIN CONTAINER RESPONSIVE ***********/

.container_products {

    width: 100vw;

}

.container_products section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_product {

    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    border-right: #1d705dd9 solid 0.5px;
    border-left: #1d705dd9 solid 0.5px;
    transition: transform 2s;
}

.card_product:hover {
    transform: scale(1.02);
    border-radius: 10px;
    background-color: rgb(251, 246, 239)
}

.card_product img {
    border-bottom: #1d705dd9 solid 0.5px;
    height: 200px;
    width: 200px;
}

.content_general {
    width: 400px;


}



.content_general a:hover {
    color: orange;
    font-weight: bold;
}